body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    background-color: black;
}
.container{
    width: 400px;
    margin: 50px auto ;
    background-color: rgb(34, 33, 33);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    
}
#title{
    text-align: center;
    color: aqua;
}
.input-section{
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}