body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    background-color: black;
}
.container{
    width: 400px;
    margin: 20px auto ;
    padding: 20px;
}
#title{
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    color: aqua;
}
.input-section{
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: whitesmoke;
    border-radius: 30px;

    
}
.input-section input{
    padding-left: 10px;
    border: none;
    border-radius: 30px;
    padding:10px;
    padding-right: 140px;
    outline: none;
    font-size: 16px;
}



#addTaskButton{
    padding: 10px 20px;
    background-color: aqua;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    font-size: 18px;
    
}

.to-do-list-container{
    margin-top: 40px;
    max-height: 300px;
    overflow-y: scroll;
}
.to-do-list{
    margin-bottom: 20px;
    background-color: whitesmoke;
    padding: 8px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    background-color: gray;
}
img{
    margin-left: auto;
    width: 20px;
    margin-right: 5px;
    cursor: pointer;
    

}
@media screen and (max-width: 600px) {
    .container{
        width: 90%;
    }
    #title{
        font-size: 30px;
    }
    #addTaskButton{
        padding: 5px 10px;
        font-size: 14px;
    }
    
}
@media screen and (max-width: 400px) {
    .container{
        width: 70%;
    }
    #title{
        font-size: 20px;
    }
    #addTaskButton{
        padding: 5px 10px;
        font-size: 14px;
}
}