body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    background-color: black;
}
.container{
    width: 400px;
    margin: 20px auto ;
    padding: 20px;
    border-radius: 10px;
    
    
}
#title{
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    color: aqua;
}
.input-section{
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    border-radius: 30px;
    padding: 2px;
}
.input-section input{
    padding-left: 10px;
    border: none;
    border-radius: 30px;
    outline: none;
}
#addTaskButton{
    padding: 10px 20px;
    background-color: aqua;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    font-size: 18px;
    
}
.to-do-list{
    margin-top: 40px;
    background-color: whitesmoke;
    padding: 5px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    background-color: gray;
}
.label{
    margin-left:8px;
    flex:1;
}
img{
    margin-left: auto;
    width: 15px;
    margin-right: 5px;
    

}
.to-do-list input{
    height: 20px;
    width: 20px;
    cursor: pointer;
}
@media screen and (max-width: 600px) {
    .container{
        width: 90%;
    }
    #title{
        font-size: 30px;
    }
    #addTaskButton{
        padding: 5px 10px;
        font-size: 14px;
    }
    
}